<!DOCTYPE html>
<html lang="de">
    <!--Im HEAD werden allgemeine Einstellungen zur Website festgelegt-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--Der title erscheint im Browser-TAB-->
    <title>N27 - About </title>
</head>
<!--I  Body steht der Inhalt der Website, also alles, was im Brwoser angezeigt wird.-->
<body>
    <!--Überschrift der Größe 1-->
    <h1>Über uns</h1>
    <h2>E-Mail: ce153390@students.berufskolleg-borken.de</h2>
    <h3>Anschrift: Butenbomskamp 7</h3>
    <h4>Sitz: 46325 Borken</h4>
    <h5>Bankleitzahl:</h5>
    <h6>Unternehmensnahme und Rechtsform:</h6>
    <h7>Evtl. Telefonnummer für Support:</h7>
    <h8>Disclaimer:</h8>
    
</body>
</html>
